* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  background-color: #FFFFFF;
  font-size: 17px;
  letter-spacing: 0.3px;
}

h1, h2, h3, h4, h5, p, br {
  line-height: 1.5em;
  margin-bottom: 20px;
}

hr {
  margin: 32px 0;
}

pre {
  padding-top: 32px;
  margin-left: -120px;
  margin-bottom: 1em;
  line-height: 2em;
}

nav {
  margin-bottom: 32px;
  text-align: left;
}

a, a:visited, a:active {
  color: blue;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid blue;
}

a.logo {
  font-size: 32px;
  position: fixed;
  display: block;
  border: 1px solid blue;
  padding: 16px;
  color: blue;
  font-weight: bold;
  background-color: #FFFFFF !important;
  top: 32px;
  z-index: 10;
  transition: all .3s;
  box-shadow: none;
}
a.logo:hover {
  background-color: blue !important;
  color: white;
  box-shadow: 0 10px 20px 1px rgba(0,0,255, 0.5);
  top: 28px;
  transition: all .3s;
}
a.logo:hover .fade {
  color: white !important;
}

header {
  margin-bottom: 2em;
}

main {
  margin-bottom: 5em;
}

footer {
  padding-top: 1em;
  position: fixed;
  width: 100%;
  background-color: #fff;
  bottom: 0;
}
footer:before {
  content: '';
  position: relative;
  display: block;
  top: -20px;
  border-top: 1px solid #BBBBBB;
  width: 128px;
}


ul {
  margin-left: 2em;
  margin-bottom: 2em;
}
ul > li {
  margin-bottom: 32px;
}
ul > li > a {
  font-size: 1.3em;
}

a:hover {
  color: darkblue;
}

quote {
  padding: 16px;
  margin-bottom: 2em;
  color: #666666;
  line-height: 1.5em;
  margin-left: 2em;
  border-left: 3px solid #CCCCCC;
  display: block;
}

.sub {
  opacity: 0.7;
}
.fade {
  opacity: 0.3;
}

.pad {
  padding: 32px;
}

.div {
  display: inline-block;
  padding: 0 2px;
  opacity: 0.3;
}

.blue {
  color: blue;
}
.blue.under {
  border-bottom: 1px solid blue;
}
.red {
  color: red;
}
.red.under {
  border-bottom: 1px solid red;
}

.title {
  line-height: .9em;
}
.title .sub {
  font-size: .9em;
}

.article {
  max-width: 768px;
  margin: 0 auto 5em;
}
.article-head {
  text-align: center;
  margin-bottom: 3em;
}
.article p {
  font-size: 20px !important;
  line-height: 1.7em;
  margin-bottom: 2em;
}
.article code {
  padding: 2px 6px;
  border: 1px solid gold;
  border-radius: 3px;
  margin: auto 3px;
  background-color: lightyellow;
  font-size: 16px !important;
}
.article pre {
  margin-bottom: 32px;
  padding-left: 32px;
  background-color: #EFEFEF;
}
.btn, .btn:active {
  position: relative;
  top: 0px;
  display: inline-block;
  padding: 8px 24px;
  border: 1px solid blue;
  color: blue;
  text-decoration: none;
  border-bottom-width: 3px;
  border-right-width: 3px;
  transition: all .3s;
}
.btn:hover {
  background-color: blue;
  color: white;
  top: -3px;
  box-shadow: 0 5px 10px rgba(0,0,255, 0.5);
  transition: all .3s;
}
.btn.red {
  color: red;
  border-color: red;
}
.btn.red:hover {
  background-color: red;
  color: white;
  box-shadow: 0 5px 10px rgba(255,0,0,0.5);
}

a svg {
  top: 3px;
  position: relative;
}
svg path {
  fill: blue;
  transition: all .3s;
}
a:hover svg path {
  fill: white;
  transition: all .3s;
}

hr {
  padding: 1px;
  background-color: #efefef;
}

hr.cap {
  width: 200px;
}
p {
  opacity: 0.75;
  max-width: 512px;
  font-family: monospace;
}
main h2 {
  letter-spacing: 1.5px;
}

header, article, section {
  margin-bottom: 54px;
}
