* {
  padding: 0;
  border: 0;
  margin: 0;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f5f5ff;
  color: black;
  letter-spacing: 1px;
  font-smooth: grayscale;
}

main.flex {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.flex content {
  padding: 32px;
  box-sizing: border-box;
  max-width: 720px;
}

ol {
  margin-top: 2em;
  padding-left: 100px;
  font-size: 24px;
  opacity: 0.8;
  list-style: none;
  counter-reset: li;
  position: relative;
}

ol > li::before {
  content: counter(li) ".";
  counter-increment: li;
  display: inline-block;
  position: absolute;
  color: #aaa;
  top: 1px;
  left: -54px;
}

ol li {
  line-height: 1.3em;
  position: relative;
}
ul {
  padding-left: 50px;
  margin-bottom: 44px;
}
ul li {
  line-height: 1.3em;
  margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 24px;
  color: black;
}

a,
a:active,
a:visited {
  color: blue;
  text-decoration: none;
  padding: 0.2em;
  border-bottom: 1px dashed blue;
}
a:hover {
  color: darkblue;
  border-color: darkblue;
}

.big {
  font-size: 100px;
  opacity: 0.9;
  color: black;
  letter-spacing: -6px;
  position: relative;
}

.big small {
  opacity: 0.5;
  font-size: 64px;
  letter-spacing: normal;
  font-weight: normal;
}

.code {
  font-family: courier, monospace;
}

.sub {
  font-size: 32px;
}

.mute {
  opacity: 0.5;
}

.center {
  text-align: center;
}

.out {
  text-decoration: line-through;
  opacity: 0.5;
}

@media only screen and (max-width: 468px) {
  .big {
    font-size: 40px;
  }
  .big small {
    font-size: 18px;
  }
  content {
    max-width: 400px;
    padding: 20px;
  }
  .sub {
    font-size: 16px;
  }
  ul,
  ol {
    font-size: 12px;
    padding-left: 44px;
  }
}
