* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f5f5ff;
  font-https://www.youtube.com/watch?v=iTOKRWgjOlgsize: 20px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {https://www.youtube.com/watch?v=iTOKRWgjOlg
  padding-bottom: 32px;
}

h1,
h2,
h3 {
  letter-spacing: -2px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 32px;
}

p {
  font-family: courier;
}

p > code {
  padding: 0px 6px;
  background-color: #ffff002b;
  border: 1px solid gold;
}

header {
  height: 88px;
  position: relative;
  overflow: visible;
}

pre {
  white-space: normal;
  padding: 32px;
  font-size: 16px;
  border: 1px dashed #00000033;
  margin-bottom: 32px;
  overflow-y: scroll;
}

code {
  white-space: pre;
  opacity: 0.75;
  font-family: courier;
}

blockquote {
  position: relative;
  padding-left: 32px;
  overflow: visible;
  border-left: 8px solid #cccccc;
}

blockquote:after {
  content: "- " attr(o);
  display: inline-block;
  position: absolute;
  font-size: 14px;
  font-family: courier;
  opacity: 0.7;
  right: 20px;
  letter-spacing: 1px;
  bottom: -32px;
}

a,
a:active,
a:visited {
  color: blue;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid blue;
}
a:hover {
  color: darkblue;
  border-bottom-color: darkblue;
}

/**
 * classes and shit
 */
ol.main {
  font-family: courier;
  margin-top: 2em;
  padding-left: 50px;
  font-size: 20px;
  opacity: 0.8;
  list-style: none;
  counter-reset: li;
  position: relative;
}

ol.main li {
  position: relative;
  margin-left: 50px;
  font-weight: bold;
  padding: 12px;
  border-left: 1px solid #00000033;
}

ol.main li::before {
  font-weight: normal;
  font-size: 14px;
  content: attr(date);
  counter-increment: li;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  left: -94px;
}

.wrap {
  position: relative;
  margin: 0 auto;
  width: 960px;
}

.flexcenter {
  display: flex;
  align-items: center;
  height: 100%;
}

.flexmid {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 256px;
}

.flexmid.mute p {
  font-size: 16px;
}

a.logo,
a.logo:active,
a.logo:visited {
  font-size: 40px;
  font-weight: bold;
  color: black;
  letter-spacing: -3px;
  text-decoration: none;
  border-bottom: 0;
}

.mute {
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  .wrap {
    width: 700px;
  }
}

@media only screen and (max-width: 468px) {
  .wrap {
    width: 320px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }

  .flexmid {
    min-height: 128px;
  }
  .flexmid p {
    font-size: 14px;
  }

  a.logo,
  a.logo:active,
  a.logo:visited {
    font-size: 32px;
  }
}
